.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #003594;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-left img.header-logo {
  height: 50px;
}


.header-search {
  width: 300px;
  max-width: 400px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}


.header-right {
  display: flex;
  gap: 0.5rem;
}

.header-right button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.sign-in-btn {
  background-color: transparent;
  color: #003594;
  border: 1px solid #0d2149;
}

.register-btn {
  background-color: #003594;
  color: #fff;
}

.sign-in-btn:hover {
  background-color: #0d2149;
  color: #fff;
}

.register-btn:hover {
  background-color: #1b3b70;
  color: #fff;
}


@media (max-width: 768px) {
  .header-bar {
    justify-content: center;
    padding: 0.5rem 1rem;
  }


  .header-search,
  .header-right {
    display: none;
  }

  .header-left {
    justify-content: center;
  }
}